@charset "UTF-8";
/*
Theme Name:     universiacursos
Theme URI:      https://www.universiacursos.com
Author:         HendrikOB
Author URI:     https://hendrikob.name
Description:    None for the moment
Version:        1.1.0
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    universiacursos
WordPress Available:  no
Requires License:    no
Tags: blog, custom-logo, portfolio, e-commerce, rtl-language-support, post-formats, grid-layout, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Hestia is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General
	## Generic styles
	## Buttons and links
# Navigation
# Forms
# Pagination and navbar
# Typography
# Cards styling
# Tables
# Sections Styling
    ## About Section
    ## Portfolio Section
    ## Contact Section
    ## Team Section
    ## Subscribe Section
# Footer
# Blog
	## Content
	## Sidebar
	## Attachment Page
# Woocommerce Integration
	## My Account Page
	## Generic
	## YITH Magnifier
# Responsive
--------------------------------------------------------------*/

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card2 {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    height: 187.6px
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
    text-align: center;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.section-header {
	text-align: center;
}

#fronpageuc {
	background: url('https://www.universiacursos.com/wp-content/uploads/2017/11/tile-1.jpg');
}

#fronpageuc2 {
	background: white;
}

section {
	padding: 60px 0;
}
#courses {
	padding-top: 100px;
	margin: auto;
}

#paginat{
	padding: 0px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#plans {
background-color: rgb(28, 28, 51);
color: white;
}

.plan{
    border-radius: 8px;
    color: #f9f9f9;
    text-align: center;
    position: relative;
}

.plan-mensual{
    background-color: rgb(20, 20, 36);
}

.plan-semestral{
    background-color: white;
    color: black;
}

.plan-anual{
    background-color: rgb(20, 20, 36);
}

.plan-n{
    font-size: 4em;
    color: #d8bf6e;
}

.label2 {
    height: 40px;
    padding-top: 20px; 
    font-size: .7em;
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 2px 2px 0;
    line-height: 1.4;
}

.btn-yellow-cta {
    background-color: #d8bf6e;
    color: #010101;
    border-color: transparent;
    margin-top: 50px;
}

.btn-xl {

    font-size: .9em;
    padding: 15px 25px;

}

#paypay {
margin-bottom: 0px;
padding-bottom: 0px;
top: -10px;
}

#pay-desc{
margin-bottom: 0px;
}

#plan2 {
height: 338px;
}

.plan-container {
padding-top: 40px;
}

#course-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#course-label {
    padding-left: 15px;
}

#course-active{
    background-color: #2ECC40;
    text-align: center;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Navbar Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Cards styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Generic
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## About Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Portfolio Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Contact Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Features Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Team Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Ribbon Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Subscribe Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Blog Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Top bar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Clients bar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Attachment Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Woocommerce Integration
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Generic
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Account Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Notifications
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Reviews
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Checkout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## WooCommerce Responsive
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## YITH Magnifier
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Compatibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Send in Blue
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## WPML
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## BBPress Basic
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Elementor / Beaver Builder Section Editing
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## PayPal for WooCommerce
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## MailChimp for WordPress (ibericode)
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Bootstrap MS - 480-767 breakpoint
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Mega Menu
--------------------------------------------------------------*/

